@import "../../Styles/variables";

.cart {
  background-color: $background-sec;
  position: fixed;
  top: 0;
  right: -200%;
  height: 100%;
  width: 25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.2s ease-in-out;
  z-index: 1000;

  &.open {
    right: 0;
  }
}

// designing cart
.cart>.cart-heading {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid $border-color;


  h2 {
    color: $text;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

