@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import "./variables";

/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-color;
  border-radius: 15px;
}

/* ====================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $scroll-bar-color $background;
}

body {
  background-color: $background;
}

a {
  text-decoration: none;
  color: inherit;
}