@import "../Styles/variables";

.category {
  padding: 0;
  margin-top: 3rem;
}

.category>h2 {
  text-align: center;
  color: $text;
}


.products-container {
  background-color: $background-sec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem;
  border-bottom: 1px solid $border-color;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.products-container::-webkit-scrollbar {
  width: 0.1em;
  /* Adjust the width as needed */
}

.products-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Hide the thumb */
}

.product-card {
  background-color: $background;
  min-width: 250px;
  max-height: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  border-radius: 15px;
  padding: .7rem 0;
  border: 1px solid $border-color;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 250px;
  width: 100%;
  position: relative;
}

.product-img>img {
  max-height: 100%;
  max-width: 90%;
  border-radius: 10px;
}

.product-card .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: $text;
  gap: 0;
  margin: 0;
  padding: 0 .5rem;
}

.product-info .brand-name {
  font-size: .7rem;
  color: $text;
  height: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid $border-color;
}

.product-info .title {
  overflow: hidden;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .9rem;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 1px solid $border-color;
}

.product-info .price {
  height: 100%;
  border-bottom: 1px solid $border-color;
}

.product-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.cart-btn,
.buy-btn {
  padding: .5rem 1rem;
  font-weight: 600;
  color: white;
  background-color: $text;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%),
    0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
}

.buy-btn:hover,
.cart-btn:hover {
  box-shadow: 5px 5px 15px $sec-text, -2px -2px 8px $sec-text;
}