@import "../Styles/variables";

.product-container{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;  
  gap: 4rem;
}

.product-container > h2{
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  color: $text;
}

.toolbar{
  height: 4rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid $border-color;
  position: sticky;
  z-index: 2;
}

.toolbar > div{
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-container{
  display: flex;
  justify-content:start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  margin: 2rem 3rem;
  gap: 2rem;
}