@import "../../Styles/variables";

.products-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  overflow-x: hidden;
}

.product-card {
  cursor: pointer;
  height: 25rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;

  .img-container {
    background-color: white;
    width: 100%;
    height: 78%;
    padding-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s ease-in-out;
    }

    a {
      background-color: $background-sec;
      color: $text;
      position: absolute;
      padding: .3rem .6rem ;
      bottom: 20px;
      right: 15px;
      opacity: 0;
      transform: scale(.8);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      z-index: -1;
    }

    &:hover {
      a {
        opacity: 1;
        transform: scale(1);
        z-index: 1;
      }

      img{
        transform: scale(1.1);
      }
    }
  }

  .product-details {
    text-align: center;
    display: flex;
    flex-direction: column;

    h4,
    p {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;

    }

    h4 {
      color: $text;
      font-size: 1.1rem;
      text-transform: capitalize;
    }

    p {
      color: $sec-text;
    }


  }
}