@import "../Styles/variables";

.navbar-container {
  background: $background-sec;
  background-image: linear-gradient(180deg, $background-sec 100%, $sec-text 40%);
  height: 60px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

/* Brand Logo */
.navbar-container .brand {
  display: flex;
  justify-content: center;
  color: $brand;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  width: 20%;
  position: relative;

}

.navbar-container .brand>a {
  padding: 14px 16px;
}


/* Nav Links */

.navbar-container .navbar-links {
  display: flex;
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: 1px;
  width: 40%;
}

.navbar-container .left-links {
  justify-content: start;
  color: $text;
}

.navbar-container .right-links {
  justify-content: end;
  color: $sec-text;
}


.left-links .drop-container>a,
.right-links>a,
.right-links>div {
  /* (.right-links *) to select all child element of .right-links */

  padding: 1.3rem .3rem;
  margin: 0 1rem;
}


.right-links>a:hover,
.right-links>div:hover {
  color: $text;
  cursor: pointer;
}


/* Dropdown menu */
.drop-container {
  display: flex;
}

.drop-items-container {
  display: none;
  font-size: .8rem;
  font-weight: 600;
  background-color: $background-sec;
  width: 100%;
  max-height: 80vh;
  top: 60px;
  left: 0;
  position: absolute;
  justify-content: center;
  gap: 6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-container:hover .drop-items-container {
  display: flex;
  z-index: 2;
}


/* Left menu hover underline */

.left-links .drop-container>a {
  position: relative;
}

.left-links .drop-container>a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $text;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.left-links .drop-container>a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* dropdown list css */

.category {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 3rem 0;
  z-index: 1;
}

.category .heading {
  margin-bottom: .5rem;
}

.category>div:not(.heading) {
  font-weight: 500;
  text-transform: capitalize;
  color: $sec-text;
}

.category>div:hover {
  color: $text;
  cursor: pointer;
}

/* ======================= */


/* side cart  */

/* =============== */

/* Nav Right icons for mobile */
.icons-container {
  display: none;
  justify-content: end;
  width: 25%;
  margin: 0;
  padding: 0;
  gap: 1rem;
  margin-right: .8rem;
}

.right-icons {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.left-icons-container {
  display: none;
  justify-content: start;
  width: 25%;
  margin-left: .8rem;
}

.navbar-icons {
  cursor: pointer;
  color: $text;
}

/* ============================ */


@media (max-width:1020px) {
  .navbar-container {
    justify-content: space-between;
  }

  .navbar-container .navbar-links {
    display: none;
  }

  .brand {
    width: 50%;
    width: fit-content;
  }

  .navbar-container .brand>a {
    white-space: nowrap;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .icons-container,
  .left-icons-container {
    display: flex;
  }
}

@media (max-width:600px) {
  .navbar-container .hide-icon {
    display: none;
  }
}