.nav-container {
  background-image: linear-gradient(to bottom right, var(--dark-blue-color--), var(--light-blue-color--));
  color: var(--white-color--);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* ---------------Logo----------------- */
.logo-container {
  margin: .1rem;
  outline: none;
}

.nav-container>.logo-container>.logo {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  padding: .5rem 1.2rem;
}

.nav-container>.logo-container>.logo:hover {
  cursor: pointer;
}



/* --------------Nav Items----------------- */
.nav-container>.nav-items {
  display: flex;
  gap: 2rem;
  height: 100%;
  margin: 0;
  align-items: center;
}

/* Profile Dropdown menu (Nav Items) */
.nav-items>.profile-dropdown {
  position: relative;
  display: inline-block;
}

.nav-items>.profile-dropdown:hover {
  cursor: pointer;
}

.profile-dropdown>.drop-btn {
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: none;
  padding: .4rem .8rem;
  margin: 0;
  gap: .3rem;
  border-radius: 10px;
}

.profile-dropdown:hover>.drop-btn {
  background-color: var(--light-gray-color--);
  color: var(--dark-blue-color--);
}

.profile-dropdown>.dropdown-content {
  background-color: var(--white-color--);
  min-width: 15rem;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  top: 39px;
  z-index: 1;
}

.profile-dropdown:hover>.dropdown-content {
  display: block;
}


.profile-dropdown>.dropdown-content>.signup-container {
  color: black;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray-color--);
}

.profile-dropdown>.dropdown-content>.signup-container:hover {
  cursor: pointer;
}

.profile-dropdown>.dropdown-content>.signup-container>.signup-title {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 9px;
}

.profile-dropdown>.dropdown-content>.signup-container>.signup-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--light-blue-color--);
  padding: 10px 9px;
}



/* ---------------Dropdown items lists------------------ */

.dropdown-content>.dropdown-items-container {
  background-color: var(--white-color--);
  color: var(--dark-blue-color--);
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 10px;

}

.dropdown-content>.dropdown-items-container:hover {
  background-color: var(--light-gray-color--);
  background-blend-mode: color-dodge;
}

.dropdown-content>.dropdown-items-container>.dropdown-item-icon {
  font-size: 2rem;
  padding: .3rem .5rem;
  margin-left: .2rem;
}

.dropdown-content>.dropdown-items-container>.dropdown-item-title {
  padding: .7rem 1rem .7rem .2rem;
}



/* -------------Seller Menu (Nav Items)----------- */

.nav-items>.seller-container {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 5px;
}

.nav-items>.seller-container:hover {
  cursor: pointer;
  background-color: var(--light-gray-color--);
  color: var(--dark-blue-color--);
}

.seller-container>.seller-title {
  font-weight: 500;
  padding: .5rem .5rem;
}



/* --------Cart Menu (Nav Items)------------- */

.nav-items>.cart-container {
  height: 40px;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 5px;
}

.nav-items>.cart-container:hover {
  cursor: pointer;
  background-color: var(--light-gray-color--);
  color: var(--dark-blue-color--);
}

.cart-container>.cart-title {
  padding: .5rem .5rem;
  font-weight: 500;
}


/* Mobile Menu */

.nav-container>.menu-container {
  height: 40px;
  margin: 0 1rem 0 0;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.nav-container>.menu-container:hover {
  cursor: pointer;
  background-color: var(--light-gray-color--);
  color: #112D4E;
  border-radius: 10px;
}

.nav-container>.menu-container>.menu-icon {
  font-size: 1.7rem;
  padding: 5px;
}



@media (max-width: 992px) {

  .nav-container>.nav-items {
    gap: 1rem;
  }

  .cart-container {
    margin-right: 1rem;
  }

  .cart-container>.cart-title {
    display: none;
  }

  .seller-container>.seller-title {
    display: none;
  }
}

@media (max-width: 768px) {}

@media (max-width: 600px) {
  .nav-container>.logo-container>.logo {
    font-size: 1.4rem;
    padding: .8rem 1.2rem;
    margin-left: .2rem;
  }

  .nav-container>.nav-items {
    display: none;
  }

  .nav-container>.menu-container {
    display: flex;
  }
}