@import "../../Styles/variables";

nav {
  background: $background-sec;
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  border-bottom: 1px solid $border-color;
  gap: 2rem;
  z-index: 5;
  overflow-x: hidden;
}

.logo {
  color: $brand;
  font-size: 1.1rem;
}

.nav-left,
.nav-right {
  height: fit-content;
  display: flex;
  text-transform: uppercase;
  gap: 2rem;
}

.nav-left {
  .drop-container {
    height: fit-content;
    cursor: pointer;
    display: flex;
  }

  a {
    position: relative;
    font-size: 0.8rem;
    color: $text;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $text;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}

.nav-right {
  a {
    font-size: 0.8rem;
    color: $sec-text;

    &:hover {
      color: $text;
    }
  }
}



// ----Category Dropdown Items----

.drop-items-container {
  display: none;
  background-color: $background-sec;
  height: 20rem;
  width: 100%;
  position: absolute;
  top: 4rem;
  left: 0;
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 5;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.drop-container:hover .drop-items-container {
  display: flex;
  z-index: 5;
  opacity: 1;
}

/* ---Search--- */
.search {
  width: 100%;
  position: absolute;
  top: 4rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  background-color: $background-sec;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  z-index: 1000;

  &.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    z-index: 15;
  }

  .search-container {
    display: flex;
    align-items: center;
    width: 90vw;

    a {
      margin: 0 3vw;
    }

    input {
      background-color: transparent;
      font-size: 1.2rem;
      border: none;
      width: 100%;
      outline: none;
    }
  }

  a {
    margin-right: 2vw;
    padding: 0;
    height: fit-content;
  }

}



/* -----Cart.css------ */
.cart {
  background-color: $background-sec;
  position: fixed;
  top: 0;
  right: -200%;
  height: 100%;
  width: 25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.2s ease-in-out;
  z-index: 1000;

  &.open {
    right: 0;
  }
}

// designing cart
.cart>.cart-heading {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid $border-color;


  h2 {
    color: $text;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

/* overlay to fade the rest of the screen */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;

  &.active {
    display: block;
    z-index: 14;
  }

}