:root {
  --dark-blue-color--: #112D4E;
  --light-blue-color--: #3F72AF;
  --light-gray-color--: #DBE2EF;
  --white-color--: #F9F7F7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color--);
}

a{
  text-decoration: none;
  color: inherit;
}


