:root {
  --text: #070303;
  --background: #fffeec;
  --primary: #E5BA73;
  --secondary: #FAEAB1;
  --accent: #C58940;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: inherit;
}