@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  /* ===== Scrollbar CSS ===== */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme("colors.scroll-bar-color");
    border-radius: 15px;
  }

  /* ====================================== */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: theme("colors.scroll-bar-color") theme("colors.background");
  }

  body {
    font-family: theme('fontFamily.slab');
    background-color: theme("colors.background");
    color: theme("colors.text");

  }

  a {
    font-family: theme('fontFamily.sans');
    text-decoration: none;
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-family: theme('fontFamily.sans');
    color: theme('colors.text');
  }

  h1 {
    font-family: theme('fontFamily.serif');
    font-weight: 500;
    font-size: 1.1rem;
  }

  h2 {
    font-family: theme('fontFamily.slab');
    font-size: 1.8rem;
  }

  h3 {
    font-size: .83rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    word-spacing: 2px;
  }

  // h5 {
  //   font-size: .9rem;
  // }

  // h6 {
  //   font-size: .8rem;
  // }



  p {
    font-family: theme('fontFamily.sans');
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}

@layer components {
  .btn {
    font-family: theme('fontFamily.sans');
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    border-radius: 0;
    white-space: normal;
    text-align: center;
    padding: .9rem 3rem;
  }

  .primary-btn {
    color: #ebdecf;
    background-color: theme('colors.text');

    &:hover {
      transform: scale(1.04);
      color: #ebdecf;
      background-color: theme('colors.text');
    }
  }

  .secondary-btn {
    background-color: theme('colors.background');
    color: theme('colors.text');

    &:hover {
      transform: scale(1.04);
      background-color: theme('colors.background');
      color: theme('colors.text');
    }
  }

  .hover-underline {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: theme('colors.text');
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }

    &:hover::before {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }

  .box {
    perspective: 120px;

    .coin {
      width: 2em;
      height: 2em;
      border-radius: 50%;
      border: 4px solid theme('colors.text');
      animation: spin 1.5s ease-in-out infinite;
    }

    @keyframes spin {
      to {
        transform: rotateY(540deg);
      }
    }
  }



  .input-box {
    position: relative;
    font-family: theme('fontFamily.sans');

    .input {
      cursor: text;
      font-size: 14px;
      line-height: 20px;
      padding: 0 1rem;
      height: 48px;
      background-color: theme('colors.background');
      border: 1px solid theme('colors.border-color');
      border-radius: 0;
      color: theme('colors.text');
      box-shadow: inset 0 1px 4px 0 theme('colors.border-color');
      overflow: hidden;
      transition: all 100ms ease-in-out;
      outline: none;

      &:focus {
        box-shadow: 0 1px 2px 0 theme('colors.text');
        border-color: theme('colors.text');
      }
    }

    .label {
      position: absolute;
      left: 0;
      padding: .75rem 1rem;
      pointer-events: none;
      text-transform: capitalize;
      color: theme('colors.sec-text');
      transition: .3s;
    }

    .input:valid~.label,
    .input:focus~.label {
      color: theme('colors.text');
      transform: translateX(12px) translateY(-8px);
      font-size: .7rem;
      padding: 0 5px;
      background: theme('colors.background');
      border-left: 1px solid theme('colors.sec-text');
      border-right: 1px solid theme('colors.sec-text');
    }
  }

  .nav-links {
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
  }


  .footer-links {
    font-size: .9rem;
    font-weight: 400;
    color: theme('colors.sec-text');

    :hover {
      color: theme('colors.text');
    }
  }

}