.footer {
  background: var(--background-sec);
  background-image: linear-gradient(180deg, var(--background-sec)100%, var(--sec-text) 40%);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  gap: 2rem;
  padding: 4rem 2rem 1rem 2rem;
  font-size: .7rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content>div {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}


.footer-content>div>h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;
  color: var(--text);
}

.footer-content>div>p,
a,
input,
button {
  margin: .5rem 0;
  color: var(--sec-text);
  padding: .2rem 0;
  letter-spacing: 1px;
  font-size: .8rem;
  font-weight: 500;
}

.footer-content>div>a:hover {
  color: var(--text);
}


.footer-content>div>p {
  word-spacing: 1.5px;
  line-height: 25px;
}



.footer .social-icons {
  display: inline-flex;
  gap: 2rem;
  color: var(--sec-text);
}

.footer .social-icons > :hover{
  color: var(--text);
}


.footer .copyright {
  padding: .5rem;
  text-transform: uppercase;
  text-align: center;
}




.email-input {
  padding: 0 8px;
  vertical-align: middle;
  color: var(--text);
  width: 100%;
  min-height: 50px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  transition: all 0.2s ease-in-out 0s;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.email-input:focus {
  outline: none;
  border: 1px solid var(--sec-text);
  /* box-shadow: inset 0 0 0 1px var(--sec-text); */
}


.btn {
  text-transform: uppercase;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: top;
  background-color: var(--text);
  font-size: 14px;
  letter-spacing: 0.16px;
  max-width: 150px;
  min-height: 48px;
  line-height: 1.29;
  color: #fff;

}