@import "../Styles/variables";

.footer {
  background: $background-sec;
  background-image: linear-gradient(180deg, $background-sec 100%, $sec-text 40%);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  bottom: 0;
  gap: 1rem;
  padding: 4rem 2rem 1rem 2rem;
  font-size: .7rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 100%;
}

.footer-content>div {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
}


.footer-content>div>h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;
  color: $text;
}

.footer-content .newsletter {
  width: 320px;
}

.footer-content>div>p,
a,
input,
button {
  margin: .5rem 0;
  color: $sec-text;
  padding: .2rem 0;
  letter-spacing: 1px;
  font-size: .8rem;
  font-weight: 500;
}

.footer-content>div>a:hover {
  color: $text;
}


.footer-content>div>p {
  word-spacing: 1.5px;
  line-height: 25px;
}



.footer .social-icons {
  display: inline-flex;
  gap: 2rem;
  color: $sec-text;
}

.footer .social-icons> :hover {
  color: $text;
}


.footer .copyright {
  padding: .5rem;
  text-transform: uppercase;
  text-align: center;
}




.email-input {
  padding: 0 8px;
  vertical-align: middle;
  color: $text;
  width: 100%;
  min-height: 50px;
  background-color: transparent;
  border: 1px solid $border-color;
  transition: all 0.2s ease-in-out 0s;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.email-input:focus {
  outline: none;
  border: 1px solid $sec-text;
  /* box-shadow: inset 0 0 0 1px var(--sec-text); */
}


.btn {
  text-transform: uppercase;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: top;
  background-color: $text;
  font-size: 14px;
  letter-spacing: 0.16px;
  max-width: 150px;
  min-height: 48px;
  line-height: 1.29;
  color: #fff;

}


@media (max-width:1020px) {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:760px) {

  .footer-content {
    width: 100%;
    flex-direction: column;
  }

  .footer-content>div {
    max-width: 100%;
  }

}